<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app" class="wrapper">
      <div class="menu">
        <ul>
          <li><a href="" v-on:click.prevent="colorChange('red')">red</a></li>
          <li><a href="" v-on:click.prevent="colorChange('blue')">blue</a></li>
          <li>
            <a href="" v-on:click.prevent="colorChange('green')">green</a>
          </li>
          <li>
            <a href="" v-on:click.prevent="colorChange('yellow')">yellow</a>
          </li>
        </ul>
      </div>
      <div class="paint">
        <div class="row" v-for="row in rows">
          <div class="block" v-for="block in blocks" v-on:click="onClick"></div>
        </div>
      </div>
      <div class="calculate">
        <p>金額は {{ sum_cost }} 円です。</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js"></script>
  </body>
</html>
